.ToTop {
  position: fixed;
  right: 60px;
  bottom: 60px;
  display: grid;
  place-items: center;
  background: white;
  border-radius: 10px;
  z-index: 99;
  box-shadow: 0 0 10px rgba(black, 0.3);
  transition: opacity 0.1s linear;
  animation: show-totop 0.2s linear 1;
  svg {
    $size: 4rem;
    width: $size;
    height: $size;
    padding: 1rem;
    path {
      fill: lightskyblue;
    }
  }
  &:hover {
    cursor: pointer;
    opacity: 0.85;
  }
}

@keyframes show-totop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
