.Filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  h1 {
    font-size: 3rem;
  }
  &__dropdown {
    $iconSize: 2.4rem;
    $spacing: 1rem;
    position: relative;
    width: max-content;
    padding: 0.5rem 1rem;
    background: white;
    border-radius: 0.8rem;
    box-shadow: 2px 4px 10px rgba(black, 0.1);
    &:hover {
      cursor: pointer;
    }
    &-default {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: $spacing;
      white-space: nowrap;
      svg {
        width: $iconSize;
        height: $iconSize;
        transition: transform 0.1s linear;
      }
    }
    &-opts {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0;
      background: white;
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      overflow: hidden;
      box-shadow: inherit;
      li {
        display: block;
        background: white;
        padding: 0.5rem 1rem;
        &:hover {
          background: rgba(black, 0.05);
        }
        transition: background 0.1s linear;
      }
    }
    &--active {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      .Filter__dropdown-default {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .Filter {
    flex-direction: column;
    gap: 2rem;
    h1 {
      text-align: center;
      font-size: 2rem;
    }
    &__dropdown {
      width: 30rem;
      font-size: 1.2rem;
      &-default {
        svg {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }
  }
}
