.Country {
  width: 100%;
  padding: 1.6rem 1rem;
  background: white;
  border-radius: 1.6rem;
  box-shadow: 2px 4px 10px rgba(black, 0.1);
  h1 {
    font-size: 2.4rem;
  }
  &__confirmed {
    color: gold;
  }
  &__deaths {
    color: mediumvioletred;
  }
  &__recovered {
    color: mediumaquamarine;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.02);
  }
  transition: transform 0.1s linear;
}

@media (max-width: 750px) {
  .Country {
    width: 80%;
    font-size: 1.2rem;
    h1 {
      font-size: 1.6rem;
    }
  }
}
