.CountryDetail {
  min-width: 500px;
  font-size: 1.6rem;
  padding: 2rem;
  background: white;
  border-radius: 2rem;
  box-shadow: 2px 4px 10px rgba(black, 0.2);
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    h1 {
      font-size: 3rem;
    }
    img {
      width: 4rem;
      height: 4rem;
    }
    &-loading {
        width: 4rem;
        height: 4rem;
    }
  }
  & > p {
    line-height: 2.4rem;
  }
}

@media (max-width: 750px) {
  .CountryDetail {
    min-width: 350px;
    font-size: 1.2rem;
    &__title {
      gap: 1.6rem;
      h1 {
        font-size: 1.6rem;
      }
    }
  }
}