.ListOfCountries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  svg {
    width: 10rem;
    height: 10rem;
  }
  &__err {
    width: 100%;
    min-width: 200px;
    font-size: 2rem;
    padding: 1.6rem 1rem;
    background: white;
    border-radius: 1.6rem;
  }
}
